.jumbotron {

  padding: 15px;
  
  height: 300px;

  background-image: url('https://cdn.crowdpic.net/list-thumb/thumb_l_D623AE308211C3678E61EC0E3FF3C969.jpg');
  background-size: cover;

}

.col-c {
  background-color: antiquewhite;
  margin-top: 0.3rem;
  padding: 2rem;
} 